<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <hr />
    <br />
    <h5>Do formularza wprowadzono błędne dane.</h5>
    <br />
    Nastąpi przekierowanie na stronę główną...
    <br /><br />
    <hr />
    </body>
</html>