<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <hr />
    <h2>STRONA GŁÓWNA</h2>
    <hr />
    <br />
    <p>Obecne saldo konta to: {{ saldo }}</p>
    <p>Obecny stan magazynowy: {{ magazyn }}</p>
    <br />
    <hr />
    <h5>FORMULARZ DO ZAKUPU</h5>
    <div class="container">
        <div class="columns">
            <div class="col-4">
                <div class="form-group">
                    <form action="" method="post">
                        <input type="hidden" name="operacja" value="zakup">
                        <label class="form-label" for="name1">Nazwa produktu:</label>
                        <input class="form-input" id="name1" type="text" name="name1" />
                        <label class="form-label" for="price1">Cena jednostkowa</label>
                        <input class="form-input" id="price1" type="number" min="0" step="1" name="price1" />
                        <label class="form-label" for="amount1">Ilość sztuk</label>
                        <input class="form-input" id="amount1" type="number" min="0" step="1" name="amount1" />
                        <button class="btn btn-primary">DODAJ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <h5>FORMULARZ DO SPRZEDAŻY</h5>
    <div class="container">
        <div class="columns">
            <div class="col-4">
                <div class="form-group">
                    <form action="" method="post">
                        <input type="hidden" name="operacja" value="sprzedaz">
                        <label class="form-label" for="name2">Nazwa produktu:</label>
                        <input class="form-input" id="name2" type="text" name="name2" />
                        <label class="form-label" for="price2">Cena jednostkowa</label>
                        <input class="form-input" id="price2" type="number" min="0" step="1" name="price2" />
                        <label class="form-label" for="amount2">Ilość sztuk</label>
                        <input class="form-input" id="amount2" type="number" min="0" step="1" name="amount2" />
                        <button class="btn btn-primary">DODAJ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <h5>FORMULARZ ZMIANY SALDA</h5>
    <div class="container">
        <div class="columns">
            <div class="col-4">
                <div class="form-group">
                    <form action="" method="post">
                        <input type="hidden" name="operacja" value="saldo">
                        <label class="form-label" for="name3">Komentarz:</label>
                        <input class="form-input" id="name3" type="text" name="name3" />
                        <label class="form-label" for="price3">Wartość</label>
                        <input class="form-input" id="price3" type="number" step="1" name="price3" />
                        <button class="btn btn-primary">DODAJ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>